body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
    padding: 20px 0;
    background-color: grey;
}

.nav {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    backdrop-filter: blur(500px);
}

.nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav ul li{
    margin: auto 15px 15px auto;
}

.nav ul li a {
    text-decoration: none;
}

.nav button {
    background-color: #5a00b0;
    font-weight: 600;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;    
}

.hero {
    padding: 100px 20px;
}

.reasons {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.reason-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:350px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.mission-vision {
    background-color: #d3a9e1;
    text-align: center;
    padding: 50px 20px;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.column {
    background-color: white;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #5a00b0;
    color: white;
    padding: 20px 0;
}
.ul1 li a,.hero{
    color: black;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

h2{
    color:#8A2BE2;
}

.image{
    z-index: 1;
    position: relative;
    border-radius: 10px;
}

.description{
    background-color: #8A2BE2;
    width: 300px;
    position: relative;
    z-index: 2;
    color: white;
    top: -70px;
    left: 6px;
    padding: 1px;
    border-radius: 10px;
}

.border{
    border-left: 4px solid white;
    margin-left: 6px;

}